.width-60 {
    width: 60%;
}

.width-100 {
    width: 100%;
}
.formControl {
    border-radius: 22px;
    border: 2px solid #cccccc;
    width: 100%;
    padding: 6px 10px;
    transition: .4s ease-in-out;
}

.formControl:focus {
    outline: 2px solid wheat;
}

.formLabel {
    position: absolute;
    top: -72%;
    transition: .4s ease-in-out;
}

.labelAction {
    position: relative;
}

.labelAction input:focus+label {
    position: absolute;
    top: -33%;
    left: 5%;
    background: rgba(255, 255, 255, 0.54);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    border-radius: 12px;
    padding: 0 8px;
}